<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.contentcenter.mapper.ShareMapper">
    <sql id="tableName">
        share
    </sql>

    <sql id="baseColumn">
        id,user_id,title,create_time,update_time,is_original,author,cover,summary,price,download,buy_count,show_flag,audit_status,reason
    </sql>

</mapper>